<div class="container">
  <nav class="navbar navbar-light">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="home.html">Home</a>
      <a class="nav-item nav-link" href="custom.html">Custom</a>
      <a class="nav-item nav-link" href="icons.html">Icons</a>
      <a class="nav-item nav-link" href="grid.html">Grid</a>
      <a class="nav-item nav-link" href="reboot.html">Reboot</a>
      <a class="nav-item nav-link" href="wandtapete.html">Wandtapete</a>
    </div>
  </nav>
</div>
